# Core
streamlit==1.50.0
python-dotenv==1.1.1

# LangChain
langchain==1.0.2
langchain-community==0.4.1
langchain-core==1.0.4
langchain-openai==1.0.1
langchain-classic==1.0.0
langchain-text-splitters==1.0.0

# OpenAI
openai==2.6.1

# Document Processing
pypdf==6.0.0

# Vector Stores
faiss-cpu==1.12.0
chromadb==1.1.1

# Tools
duckduckgo_search==8.1.1
ddgs==9.7.1
pytz==2024.2

# Graph
langgraph==1.0.1

# Utils
pandas==2.3.3

# 내부 함수
main_ai_app
login_app



